@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(imgs/1357794.png) no-repeat center center fixed;
    background-size: cover;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    min-height: 100hv;
    color: #fff;
}

.container {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.developer {
    width: 960px;
}

.developer-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 3rem;
}

.developer-list {
    display: flex;
    justify-content: space-around;
    margin: 3rem 0;
}

.developer-list li {
    list-style-type: none;
}

.developer-figure {
    width: 200px;
    height: 200px;

    border-radius: 50%;
    overflow: hidden;
}

.developer-figure img {
    width: 100%;
    filter: grayscale(100%);
}

.dev-link:hover .developer-figure img {
    filter: none;
}

.developer-name {
    text-transform: uppercase;
    font-size: 30px;
}

.developer-name:after {
    content: "";
    padding: 2px;
    background-color: #fff;
    display: flex;
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
}

.developer-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.developer-description:target {
    display: flex;
}

.developer-description-dev {
    margin-top: 3rem;
    font-size: 18px;
}

footer {
    background: url(./imgs/646221.jpg) no-repeat center;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font: bold 20px/1.6 'Roboto Condensed', sans-serif;
    color: #fff;
    text-align: center;
    justify-content: center;
}

@media (max-width: 1023px) {
    .developer {
        width: 80%;
    }
    .developer-title {
        font-size: 32px;
    }
    .developer-list {
        gap: 2rem;
    }
    .developer-name {
        font-size: 24px;
    }
    .developer-description-dev {
        font-size: 16px;
        padding: 0 1rem;
        text-align: center;
}
}

@media (max-width: 767px) {
    .developer-list {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    .developer-figure {
        width: 170px;
        height: 170px;
    }
    .developer-title {
        font-size: 28px;
    }
    .developer-name {
        font-size: 22px;
        text-align: center;
    }
    .developer-description-dev {
        font-size: 16px;
        padding: 0 1rem;
        text-align: center;
    }
}

@media (max-width: 499px) {
    .container {
        height: 100;
        padding-bottom: 2rem;
    }
    footer {
        position: static;
        margin-top: 2rem;
    }
}