@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    background-color: #fff;
    width: 400px;
    margin: 20px auto;
    border-radius: 20px;
    padding: 5px 10px;
    color: #4b4b4b;
}

#searchInput {
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
}

.search label {
    height: 20px;
}

header {
    margin-bottom: 58px;
    text-align: center;
}

header h1 {
    font-size: 60px;
    color: #fff;
    margin-bottom: 10px;
}

header button {
    justify-content: center;
    color: black;
    border: none;
    border-radius: 17px;
    padding: 10px 15px;
    cursor: pointer;
}

body {
    background:url(imgs/1357794.png) no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font: 19px/1.9 "Roboto", sans-serif;
    padding: 2%;
}

.container {
    flex: 1;
    max-width: 1150px;
    padding: 0 15px;
    margin: 0 auto;
}

#countries {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding-bottom: 40px;
}

#countries img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

#countries div {
    background: #ffffffd8;
    padding: 6px;
    border-radius: 12px;
    position: relative;
}

#countries h2 {
    text-align: center;
    font-size: 21px;
    margin-bottom: 18px;
}

#countries h3 {
    position: absolute;
    left: 50%;
    transform: translateX(- 50%);
    color: #fff;
}

#countries p {
    text-align: center;
}

.map-btn {
    width: max-content;
    display: inline-block;
    padding: 3px 6px;
    background-color: green;
    color: white;
    border-radius: 30px;
    font-weight: bold 'Roboto', sans-serif;
    transition: 0s;
}

.map-btn:hover {
    background-color: grayscale;
}

footer {
    background: url(./imgs/646221.jpg) no-repeat center;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font: bold 20px/1.6 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    justify-content: center;
    margin-top: 0;
    padding: 3px;
}

@media screen and (max-width: 1023px) {
    #countries {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.7rem;
    }
    #countries div {
        width: 45%;
        max-width: 320px;
        margin: 0 auto;
    }
    #countries img {
        height: auto;
    }
}
@media screen and (max-width: 767px) {
    #countries {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 499px) {
    .search {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        width: 75%;
    }
    .search input {
        width: 70%;
        max-width: 250px;
        padding: 0.5rem;
        font-size: 1rem;
    }
    .search label span {
        font-size: 1.5rem;
    }
    #countries {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    #countries img {
        height: auto;
    }
    #countries div {
        width: 80%;
        max-width: 320px;
    }
}
